<div>
  <form
  class="frow"
  (ngSubmit)="submit()"
  [formGroup]="form">

    <div 
    class="form-group {{input.customClass}}"
    *ngFor="let input of inputs">
      <as-df-input
      [input]="input"
      [form]="form"
      [submitted]="submitted"
      [style]="style"></as-df-input>

    </div>

    <div
    class="form-group form-footer"
    [ngStyle]="{'justify-content': footer?.justify}">
      <div
      *ngFor="let action of actions">
        <div *ngIf="!action.value"
        class="btn btn-primary {{action.customClass}}"
        >
        {{action.label}}
        </div>
        <button
        class="btn btn-primary"
        *ngIf="action.value"
        type="submit" >
         {{action.label}}
        </button>
      </div>
    </div>
  </form>
  <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> -->
</div>
