<div 
  [formGroup]="form">
  <div 
  [ngSwitch]="input.controlType" 
  [ngClass]="{ 'has-error': submitted && !isValid(),
  'has-success': isValid() && !isPristine() && submitted }">
    <label
    class="float-label"
    *ngIf="style != 'float'"
    [attr.for]="input.key">{{input.label}}</label>
    <span [ngClass]="{'has-float-label': style == 'float'}">
      <input
      class="form-control"
      [placeholder]="' '"
      *ngSwitchCase="'textbox'"
      [formControlName]="input.key"
      [id]="input.key"
      [type]="input.type">

      <label
      class="float-label"
      *ngIf="style == 'float'"
      [attr.for]="input.key">{{input.label}}</label>
    </span>
    <div class="help-block" 
    *ngFor="let val of validations">
      <span *ngIf="errors && errors[val.type] && submitted">{{val.msg}}</span>
    </div>
  </div>

</div>
