/*------------------------------------*\
    $Data-table
\*------------------------------------*/

@import '../_variables.scss';
@import '../_mixins.scss';

.data-table {
    width: 100%;
    &--scrollable {
        overflow-y: scroll;
    }
    &__header {
        padding: $as-datatable-header-padding;
        display: flex;
        height: $as-datatable-header-height;
        align-items: center;
        font-weight: $as-datatable-header-font-weight;
        background: $as-datatable-header-bg;
        color: $as-datatable-header-color;
        border-bottom: $as-datatable-header-border $as-datatable-header-border-style $as-datatable-header-border-color;
    }
    &__headers:nth-child(1) {
        text-align: left;
         flex: $as-datatable-flex-basis;
    }
    &__headers:nth-child(2) {
        flex: $as-datatable-flex-basis;
    }
    &__headers {
        flex: $as-datatable-flex-rest;
        text-align: right;
        &--checkbox {
            flex: 4% !important;
            .checkbox {
                display: flex !important;
            }
        }
    }
    &__body {
        width: 100%;
    }
    &__row {
        display: flex;
        height: $as-datatable-row-height;
        align-items: center;
        padding: $as-datatable-row-padding;
        font-weight: $as-datatable-row-font-weight;
        border-bottom: $as-datatable-row-border $as-datatable-row-border-style $as-datatable-row-border-color;
    }
    &__row:nth-child(odd) {
        background: $as-datatable-row-odd-bg;
        color: $as-datatable-row-odd-color;
    }
    &__row:nth-child(even) {
        background: $as-datatable-row-even-bg;
        color: $as-datatable-row-even-color;
    }
    &__column:nth-child(1) {
        text-align: left;
        flex: $as-datatable-flex-basis;
    }
    &__column:nth-child(2) {
        flex: $as-datatable-flex-basis;
    }
    &__column {
        flex: $as-datatable-flex-rest;
        text-align: right;
        &--checkbox {
            flex: 4% !important;
            .checkbox {
                display: flex !important;
            }
        }
        &--bold {
            font-weight: bold;
        }
        &--secondary {
            color: $brand-secondary;
        }
        &--balanced {
            color: $brand-success;
        }
        &--assertive {
            color: $brand-danger;
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        margin-left: 50%;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-position: center;
        transition: all .4s ease-out;
    }
}