<div 
    class="header {{customClass}}"
    [ngClass]="{'header--parallax': parallax}"
    [ngStyle]="{'background-image': bg && 'url(' + bg + ')', 'justify-content': contentAlign }">
   <div class="header__container">
        <div 
            *ngIf="(title || subtitle) && headerContent.children.length == 0"
            class="header__body">
            <h4 
            class="header__title"
            *ngIf="title"
            >{{title}}</h4>
            <h6 
            class="header__subtitle" 
            *ngIf="subtitle
            && headerContent.children.length == 0">{{subtitle}}</h6>
            <p class="header__msg" 
            *ngIf="msg">
                {{msg}}
            </p>
            
        </div>
        <div #headerContent>
            <ng-content selector=".header__content" ></ng-content>
        </div>
   </div>
</div>