/*------------------------------------*\
    $Header
\*------------------------------------*/

@import '../_variables.scss';
@import '../_mixins.scss';

.header {
    display: flex;
    align-items: center;
    background-color: $as-header-bg;
    width: 100%;
    height: $as-header-min-height;
    color: $as-header-color;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
    @include breakpoint('reverse-gamma') {
        height: $as-header-mobile-min-height;
    }
    &--parallax {
        background-position: center center;
        position: relative;
        vertical-align: top;
        transform-origin: center top;
        transform: 
          translateZ(-#{$as-header-scroll-factor * 2}px)
          scale(1 + $as-header-scroll-factor * 2);
         @include breakpoint('reverse-gamma') {
            margin-top: 4rem;
         }
    }
    &__body {
        width: $as-header-body-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $as-header-body-padding;
        background: $as-header-body-bg;
    }
    &__title {
        color: $as-header-color;   
    }
    &__subtitle {
        color: $as-header-color;
    }
}
