<div class="card card--profile {{customClass}} shadow-{{shadow}}" >
    <div class="card__header">
        <div class="card--profile__img" 
        [ngStyle]="{'background-image': bg && 'url(' + bg + ')'}">

        </div>
        <div class="card__options card__options--left" *ngIf="optionsLeft?.length > 0">
            <div class="card__option" *ngFor="let option of optionsLeft"
            (click)="option.callback()">
                <button
                asIconButton
                [prefix]="option?.prefix"
                [icon]="option?.icon"
                [color]="option?.color"
                [outline]="option?.outline"
                [rounded]="option?.rounded"
                [size]="option?.size"
                (click)="option.callback()">
                </button>
            </div>
        </div> 
        <div class="card__options card__options--right" *ngIf="optionsRight?.length > 0">
            <div class="card__option" [hidden]="option.dropdown !== undefined" *ngFor="let option of optionsRight"
            (click)="option.callback()">
                <button
                asIconButton
                [prefix]="option?.prefix"
                [icon]="option?.icon"
                [color]="option?.color"
                [outline]="option?.outline"
                [rounded]="option?.rounded"
                [size]="option?.size"
                (click)="option.callback()">
                </button>
            </div>
            <div class="card__option" [hidden]="option.dropdown === undefined" dropdown *ngFor="let option of optionsRight">
                <button 
                dropdownToggle
                asIconButton
                [prefix]="option?.prefix"
                [icon]="option?.icon"
                [outline]="option?.outline"
                [rounded]="option?.rounded"
                [size]="option?.size"
                class="dropdown-toggle">
                </button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" [hidden]="option.dropdown !== undefined" role="menu">
                    <li *ngFor="let choice of option.dropdown">
                        <a class="dropdown-item" (click)="choice.callback()"><i class="{{option.prefix}} {{option.prefix}}-{{choice.icon}}"></i>{{choice.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card__body">
        <div class="card__subheader">
            <div class="card__avatar circle shadow-1"
            [ngStyle]="{'background-image': avatar && 'url(' + avatar + ')'}">

            </div>
            <div class="btn btn-fab {{fab.customClass}} btn-fab-{{fab.size}}" *ngIf="fab" (click)="fab.callback()">
                <i class="{{fab.prefix}} {{fab.prefix}}-{{fab.icon}}"></i>
            </div>
        </div>
        <h4 class="card__title">{{title}}</h4>
        <h6 class="card__subtitle">{{subtitle}}</h6>
        <!-- single slot transclusion here -->
        <ng-content select=".card__content"></ng-content>
    </div>
    <div class="card__footer" *ngIf="stats?.length > 0">
        <div class="card__stats">
            <div class="card__stat"  *ngFor="let stat of stats">
                <span class="stat__value">{{stat.value }}</span>
                <span class="stat__line"></span>
                <span class="stat__label">{{stat.label}}</span>
            </div>
        </div>
        <div class="card__actions"
        [ngStyle]="{'justify-content': footer.justify,
        'align-items': footer.alignment}">
            <button
            *ngFor="let action of actions" 
            asIconButton
            class="card__action"
            [prefix]="action.prefix"
            [icon]="action.active ? action.iconActive : action.icon"
            [color]="action.color"
            [outline]="action.outline"
            [rounded]="action.rounded"
            [size]="action.size"
            [ngClass]="action?.customClass"
            [disabled]="action.disabled" 
            (click)="actionCallback(action)">
                {{action.label}}
            </button>
        </div>
    </div>
</div>