<div class="empty-state">
    <div
    *ngIf="img"
    class="empty-state__header">
        <div class="empty-state__img"
        [ngStyle]="{'background-image': img && 'url(' + img + ')'}"></div>
    </div>
    <div class="empty-state__body">
        <h3 class="empty-state__title">{{title}}</h3>
        <p class="empty-state__msg">{{msg}}</p>
    </div>
    <div class="empty-state__footer"
    [hidden]="actions?.length === 0">
    <div class="empty-state__actions"
    [ngStyle]="{'justify-content': footer.justify,
    'align-items': footer.alignment}">
        <button 
        asIconButton
        [prefix]="action.prefix"
        [icon]="action.icon"
        [color]="action.color"
        [outline]="action.outline"
        [rounded]="action.rounded"
        [size]="action.size"
        class=" empty-state__action"
        [ngClass]="action?.customClass"  
        *ngFor="let action of actions" 
        [disabled]="action.disabled" 
        (click)="action.callback()">
            {{action.label}} 
        </button>
    </div>
    </div>
</div>
