/* =============================================================================
   				Theme Settings
   ========================================================================== */

$font-family-base:  "Roboto", sans-serif !default;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #5a5a5a !default;
$gray:                   #666 !default;
$gray-light:             #bbb !default;
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$white:                  #f3f3f3 !default;

$brand-app:             #3B9DFF !default;
$brand-primary:         #2D93F9 !default;
$brand-secondary:       #F47027 !default;
$brand-ternary:         #bfbebd !default;
$brand-success:         #4CAF50 !default;
$brand-info:            #9C27B0 !default;
$brand-warning:         #ff9800 !default;
$brand-danger:          #e51c23 !default;
$brand-sidebar:         #234765 !default;


//== Cards
//
//##
/* $as-card-bg: $gray-dark ; 
$as-card-color: $white;
$as-card-header-bg: $brand-primary;
$as-card-header-color: $white;  */

//$as-card-header-border-top: none;
//$as-card-header-border-bottom: none;
//$as-card-header-border-color: $brand-secundary;

// $as-card-footer-bg: $brand-primary;
// $as-card-footer-color: $white; 

// $as-card-data-thumb-bg: $gray-dark;
// $as-card-data-thumb-color: $gray-dark;
// $as-card-data-thumb-border-right: 1px solid !default;
// $as-card-data-thumb-border-color: red !default;
// $as-card-data-actions-color: red;
// $as-card-profile-bg-border: 3px solid;
// $as-card-profile-bg-border-color: $brand-primary;
//$as-card-illustration-height: 200px !default;
//$as-card-illustration-border-radius: 0;

//$as-form-primary-color: $brand-primary;
//$as-form-input-bg: $gray-dark;
//$as-form-input-color: $gray-lighter;
//$as-form-input-border-color: #ddd;
//$as-form-input-border-radius: 100px;
/* $as-modal-header-bg: $gray-dark; 
$as-modal-header-color: $white;
$as-modal-header-border-bottom: 2px solid;
$as-modal-header-border-color: $brand-secondary; */