/*------------------------------------*\
    $Home
\*------------------------------------*/

@import '../../styles/_variables.scss';

.header {
    background: $brand-primary;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 23%;
        background: #eeeeee;
        border-radius: 50px;
        padding: .5rem 2rem;
    }
    img {
        width: 75px;
    }
    strong {
        color: $gray;
    }
}
.container-negative {
    margin-top: -10rem !important;
}
.card {
    &--illustration__header {
        height: 170px !important;
    }
    &--illustration__img {
        background-color: transparent !important;
    }
    &--component {
        border-top: 3px solid #E5F5FC;
    }
    &--commingsoon {
        filter: grayscale(90%);
        .card__title, p {
            color: $gray-light !important;
        }
        .card--illustration__img {
            opacity: 0.4;
        }
        
    }
}