/*------------------------------------*\
    $Home
\*------------------------------------*/

@import '../../styles/_variables.scss';

.container-negative {
    margin-top: -10rem !important;
}
.card {
    &--illustration__header {
        height: 170px !important;
    }
    &--illustration__img {
        background-color: transparent !important;
        border-radius: 0 !important;
    }
    &--component {
        border-top: 3px solid #E5F5FC;
    }
    &--commingsoon {
        filter: grayscale(90%);
        .card__title, p {
            color: $gray-light !important;
        }
        .card--illustration__img {
            opacity: 0.4;
        }
        
    }
}