<as-navbar [shadow]=1 [customClass]="'navbar--primary navbar--subheader'" [brand]="navBar.brand" [fixed]=true>
    <div class="left-content"></div>
    <div class="center-content">
        <div class="navbar__title">Ngx-Canaima</div>
    </div>
    <div class="right-content"></div>
</as-navbar>
<header class="header"></header>
<div class="container-fluid wrap has-navbar container-negative"
fxLayout="row"
fxLayoutWrap="wrap"
fxLayoutAlign="start">
	<div class="box"
	fxFlex="25"
	fxFlex.lt-md="50">
		<as-card 
		[title]="'Awesome Title'"
		[shadow]="1"
		[msg]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut accusamus non ducimus quisquam voluptatum dolore soluta, optio nobis cupiditate consequuntur ipsum eaque, sapiente in repudiandae officia, qui fuga fugit?'">
		</as-card>
	</div>
	<div class="box"
	fxFlex="25"
	fxFlex.lt-md="50">
		<as-card 
		[title]="'Awesome Title'"
		[shadow]="1"
		[msg]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut accusamus non ducimus quisquam voluptatum dolore soluta, optio nobis cupiditate consequuntur ipsum eaque, sapiente in repudiandae officia, qui fuga fugit?'">
		</as-card>
	</div>
</div>