<as-toolbar
[customClass]="'navbar--primary'"
[brand]="toolBar.brand"
[fixed]=true
[menuSide]="'left'">
    <div class="center-content">
        <div class="toolbar__title">
			Ngx-Canaima <span class="badge">v0.7.1</span>
		</div>
    </div>
</as-toolbar>
<as-header

	[customClass]="header.customClass"
	[bg]="header.bg">
</as-header>
	<div class="container-fluid wrap has-toolbar container-negative parallax"
	fxLayout="row"
	fxLayoutWrap="wrap"
	fxLayoutAlign="start">
	<div class="box"
	fxFlex="100"
	fxFlex.gt-xs="50"
	fxFlex.gt-sm="33"
	*ngFor="let comp of components"
	[ngClass]="{ 'card--commingsoon' : comp.comming }">
		<as-card-illustration
		[id]="comp.slug"
		[customClass]="'card--component' + !comp.comming"
		[img]="comp.illustration"
		[title]="comp.label"
		[shadow]="1">
		<div class="card__content">
			<p>{{comp.msg}}</p>
			<button 
			asButton
			color="primary"
			block
			*ngIf="!comp.comming"
			[routerLink]="['/'+ comp.slug +'']"
			>
				See More 
			</button>
			<button 
			asButton
			color="link"
			block
			*ngIf="comp.comming" disabled>
				Cooming Soon...
			</button>
		</div>
		</as-card-illustration>
	</div>
</div>