<div 
    class="fab fab-{{color}}"
    [ngStyle]="getPos()" 
    [ngClass]="{'fab--active': active,
    'fab--bg': bg}">
        <div class="btn btn-fab btn-{{color}} btn-fab-{{size}}" (click)="openCircle()">
            <i class="{{prefix}} {{prefix}}-{{active ? iconActive : icon}}"></i>
        </div>
    <!-- <div class="fab__menu" [hidden]="menu?.length === 0">
        <i class="fab__item btn btn-fab-mini mdi mdi-{{item.icon}}" [ngStyle]="{
            'background-color': item.bg,
            'color': item.color
        }" *ngFor="let item of menu" (click)="item.callback()"></i>
    </div> -->
</div>
