<div class="card card--data shadow-{{shadow}} {{customClass}}">
    <div class="card__thumb" 
        *ngIf="img"
        (mouseover)='hover = true'
        (mouseleave)='hover = false'
        >
        <div class="card--data__img circle"
        [ngStyle]="{'background-image': img && 'url(' + img + ')'}"
        *ngIf="!hover"></div>
        <div class="checkbox" *ngIf="hover">
        <label>
            <input type="checkbox" value="">
        </label>
    </div>
    </div>
    <div class="card__content">
       <h5 
       class="card--data__title"
       *ngIf="title">{{title}}</h5>
       <span 
       class="card--data__subtitle"
       *ngIf="subtitle">{{subtitle}}</span>
    </div>
    <div class="card--data__actions" *ngIf="actions">
        <button 
        asIconButton
        [prefix]="action.prefix"
        [icon]="action.icon"
        [color]="action.color"
        [outline]="action.outline"
        [rounded]="action.rounded"
        [size]="action.size"
        class=" card__action"
        [ngClass]="action?.customClass"  
        *ngFor="let action of actions" 
        [disabled]="action.disabled" 
        (click)="action.callback()">
            {{action.label}} 
        </button>
</div>