<div 
    class="list-item {{customClass}}" [ngClass]="{'list-item--line': hasLine}">
    
    <div class="list-item__content">
       <h5 
        class="list-item__title"
        *ngIf="title">{{title}}</h5>
       <span 
        class="list-item__subtitle" 
        *ngIf="subtitle">{{subtitle}}</span>
    </div>
    <div class="list-item__side">
        <div class="list-item__actions" *ngIf="actions">
            <button
            *ngFor="let action of actions" 
            asIconButton
            class="card__action"
            [prefix]="action.prefix"
            [icon]="action.active ? action.iconActive : action.icon"
            [color]="action.color"
            [outline]="action.outline"
            [rounded]="action.rounded"
            [size]="action.size"
            [ngClass]="action?.customClass"
            [disabled]="action.disabled" 
            (click)="actionCallback(action)">
                {{action.label}}
            </button>
        </div>
    </div>
    
</div>