<nav #toolbar
    class="toolbar toolbar--flex toolbar--default shadow-{{shadow}} {{customClass}}"
    [ngClass]="{'toolbar--fixed': fixed}">
    <div class="container-fluid">
       <div 
       class="toolbar__brand" 
       >
        <img  class="toolbar__logo" 
        (click)="brand.action && brand.action()"
         *ngIf="brand && leftContent.children.length == 0"
         [fxHide.xs]="brand && leftContent.children.length == 0"
         [src]="brand?.logo" alt="">
          <span  class="toolbar__logo">{{brand?.name}}</span>
          <div class="material-burger left"
          (click)="openCollapsable()"
          *ngIf="brand !== undefined && leftContent.children.length == 0"
          [ngClass]="{'material-burger-transformed': collapsable}"
           [fxHide.gt-xs]="brand !== undefined && leftContent.children.length == 0">
            <span></span>
          </div>
       </div>
       <div 
       class="nav toolbar__left" 
       #leftContent 
       [ngStyle]="{'width': left + '%'}" >
 
          <ng-content select=".left-content">

          </ng-content>
    
        </div>
        <div 
        class="nav toolbar__center" 
        #centerContent 
        [ngStyle]="{'width': center + '%'}" >
          <ng-content select=".center-content"></ng-content>
        </div>
        
        <div 
        class="nav toolbar__right"
        #rightContent
        [fxHide.xs]="true"
        [ngStyle]="{'width': right + '%'}" >
          <ng-content  select=".right-content"></ng-content>
        </div>
        <div 
        [ngClass]="{'toolbar__right': actions}">
          <div 
          class="toolbar__options">
              <div class="toolbar__option" 
              [hidden]="option.dropdown != undefined"  
              *ngFor="let option of actions">
                  <button class="btn btn-link" 
                  (click)="option.callback()">
                      <i class="{{option.prefix}} {{option.prefix}}-{{option.icon}}"></i>
                  </button>
              </div>
              <div class="toolbar__option" 
              [hidden]="option.dropdown === undefined" 
              dropdown 
              *ngFor="let option of actions">
                  <button dropdownToggle class="btn btn-link dropdown-toggle">
                      <i class="{{option.prefix}} {{option.prefix}}-{{option.icon}}"></i>
                  </button>
                  <ul *dropdownMenu 
                  class="dropdown-menu dropdown-menu-right" 
                  [hidden]="option.dropdown !== undefined"
                  role="menu">
                      <li *ngFor="let choice of option.dropdown">
                          <a class="dropdown-item" (click)="choice.callback()"><i class="{{option.prefix}} {{option.prefix}}-{{choice.icon}}"></i>{{choice.label}}</a>
                      </li>
                  </ul>
              </div> 
          </div> 
        </div>
        
     </div>
  </nav>