<as-toolbar 
[shadow]=1 
[customClass]="toolBar.customClass" 
[brand]="toolBar.brand"
[actions]="toolBar.actions" 
[fixed]=toolBar.fixed>
    <div class="left-content">
        <as-back-button
        [label]="'Back'"></as-back-button>
    </div>
    <div class="center-content">
        <div class="toolbar__title">{{toolBar?.title}}</div>
    </div>
    <div class="right-content">
        Awiwiwi
    </div>
</as-toolbar>

<div class="parallax-container">
    <as-header
        [title]="header.title"
        [subtitle]="header.subtitle"
        [msg]="header.msg"
        [bg]="header.bg" 
        [parallax]="header.parallax">
    </as-header>
    <as-segment
    [shadow]="1"
    [align]="'center'"
    [customClass]="'segment--primary'"
    [segments]="segments"
    [(selectedTab)]="selectedTab">
    </as-segment>
    <div
        [ngSwitch]="selectedTab?.value"
        class="container-fluid parallax-container"
        fxLayout="row"
        fxFlexAlign="start start"
        fxLayoutWrap>
        <div
            *ngSwitchCase="'buttons'"
            class="box"
            fxFlexAlign="start"
            fxFlex="100"
            fxFlex.gt-md="25">
            <as-card 
                [title]="'Simple Buttons'"
                [shadow]="1">
                 <div class="card__content">
                    <button asButton color="plain">
                        Plain
                    </button>
                    <button asButton color="link">
                        Link
                    </button>
                    <button asButton color="primary">
                        Primary
                    </button>
                    <button asButton color="secondary">
                        Secondary
                    </button>
                    <button asButton color="ternary">
                        Ternary
                    </button>
                    <button asButton color="success">
                        Success
                    </button>
                    <button asButton color="info">
                        Info
                    </button>
                    <button asButton color="warning">
                        Warning
                    </button>
                    <button asButton color="danger">
                        Danger
                    </button>
                    <button 
                    asButton
                    (click)="buttonColor = !buttonColor"
                    [color]="buttonColor ? 'primary': 'secondary'" 
                    >
                        Click Me {{buttonColor ? 'primary': 'secondary'}}
                    </button>
                 </div>
            </as-card>
        </div>
        <div
        *ngSwitchCase="'buttons'"
        class="box"
        fxFlexAlign="start"
        fxFlex="100"
        fxFlex.gt-md="25">
            <as-card 
                [title]="'Outline Buttons'"
                [shadow]="1">
                <div class="card__content">
                    <button asButton color="primary" outline>
                        Primary
                    </button>
                    <button asButton color="secondary" outline>
                        Secondary
                    </button>
                    <button asButton color="ternary" outline>
                        Ternary
                    </button>
                    <button asButton color="success" outline>
                        Success
                    </button>
                    <button asButton color="info" outline>
                        Info
                    </button>
                    <button asButton color="warning" outline>
                        Warning
                    </button>
                    <button asButton color="danger" outline>
                        Danger
                    </button>
                    <button 
                    asButton
                    color="primary"
                    
                    (click)="buttonOutline = !buttonOutline"
                    [outline]="buttonOutline" 
                    >
                        Click Me {{buttonOutline}}
                    </button>
                </div>
            </as-card>
        </div>
        <div
        *ngSwitchCase="'buttons'"
        class="box"
        fxFlexAlign="start"
        fxFlex="100"
        fxFlex.gt-md="25">
            <as-card
                [title]="'Rounded Buttons'"
                [shadow]="1">
                <div class="card__content">
                    <button asButton color="primary" rounded>
                        Primary
                    </button>
                    <button asButton color="secondary" outline rounded>
                        Secondary
                    </button>
                    <button asButton color="ternary" rounded>
                        Ternary
                    </button>
                    <button asButton color="success" rounded>
                        Success
                    </button>
                    <button asButton color="info" outline rounded>
                        Info
                    </button>
                    <button asButton color="warning" rounded>
                        Warning
                    </button>
                    <button asButton color="danger" outline rounded>
                        Danger
                    </button>
                    <button 
                    asButton
                    color="primary"
                    (click)="buttonRounded = !buttonRounded"
                    [rounded]="buttonRounded" 
                    >
                        Click Me {{buttonRounded}}
                    </button>
                </div>
            </as-card>
        </div>
        <div
        *ngSwitchCase="'buttons'"
        class="box"
        fxFlexAlign="start"
        fxFlex="100"
        fxFlex.gt-md="25">
            <as-card 
                [title]="'Sizes'"
                [shadow]="1">
                <div class="card__content">
                    <button asButton color="primary" rounded size="lg">
                        Primary
                    </button>
                    <button asButton color="secondary" block>
                        Secondary
                    </button>
                    <button asButton color="ternary" size="sm">
                        Ternary
                    </button>
                    <button asButton color="success" rounded size="xs">
                        Success
                    </button>
                </div>
            </as-card>
        </div>
        <div
        *ngSwitchCase="'buttons'"
        class="box"
        fxFlexAlign="start"
        fxFlex="100"
        fxFlex.gt-md="25">
            <as-card 
                [title]="'Icon Buttons'"
                [shadow]="1">
                <div class="card__content">
                    <button asIconButton color="primary" rounded size="lg" icon="home">
                     Home
                    </button>
                    <button asIconButton color="success" rounded size="lg" icon="android" side="right">
                        Android
                    </button>
                    <button asButton color="primary" loading>
                        Loading
                    </button>
                    <button (click)="loadingVar = !loadingVar" asButton color="secondary" [loading]="loadingVar">
                        Click Me! {{loadingVar}}
                    </button>
                    <button 
                    [asButton]="!isIcon" 
                    [asIconButton]="isIcon" 
                    icon="home" color="primary"
                    (click)="isIcon = !isIcon">Click Me {{isIcon}}</button>
                </div>
            </as-card>
        </div>
        <div
            *ngSwitchCase="'chips-badges'"
            class="box"
            fxFlexAlign="start"
            fxFlex="100"
            fxFlex.gt-sm="25">
            <as-card 
                [title]="'Chips'"
                [shadow]="1">
                 <div class="card__content">
                     <div class="chips">
                        <as-chip
                        [img]="avatarChip.img"
                        [content]="avatarChip.content"
                        [delete]="avatarChip.delete"
                        (onClicked)="clickedChip(avatarChip)"
                        (onDeleted)="deletedChip(avatarChip)"
                        ></as-chip>
                        <as-chip 
                            *ngFor="let tag of tagChips; let i of index;"
                            [img]="tag.img"
                            [content]="tag.content"
                            [delete]="tag.delete"
                            (onClicked)="clickedChip(tag)"
                            (onDeleted)="deletedChip(tag)">
                        </as-chip>
                        <as-chip
                        [img]="'../assets/img/cersei-lannister.jpg'"
                        [content]="'Cersei Lannister'"
                        [delete]="avatarChip.delete"
                        [customClass]="'chip--dark'"
                        (onClicked)="clickedChip(avatarChip)"
                        (onDeleted)="deletedChip(avatarChip)"
                        ></as-chip>
                        <as-chip
                        [icon]="iconChip.icon"
                        [content]="iconChip.content"
                        [delete]="iconChip.delete"
                        (onClicked)="clickedChip(iconChip)"
                        (onDeleted)="deletedChip(iconChip)"
                        ></as-chip>
                     </div>
                 </div>
            </as-card>
        </div>
        <div
            class="box"
            fxFlexAlign="start"
            fxFlex="100"
            fxFlex.gt-sm="25">
                <as-card 
                    [title]="'Badges'"
                    [shadow]="1">
                     <div class="card__content">
                         <div class="badges">
                            <as-badge
                            [icon]="badgeIcon.icon"
                            [count]="badgeIcon.count"
                            ></as-badge>
                            <as-badge
                            [color]="'primary'"
                            [icon]="badgeIcon.icon"
                            [count]="8"
                            ></as-badge>
                            <as-badge
                            [badge]="'primary'"
                            [icon]="'email'"
                            [count]="2"
                            ></as-badge>
                            <as-badge
                            [badge]="'secondary'"
                            [icon]="'email'"
                            [count]="75"
                            ></as-badge>
                            <as-badge
                            [badge]="'ternary'"
                            [icon]="'email'"
                            [count]="'1K'"
                            ></as-badge>
                            <as-badge
                            [badge]="'success'"
                            [icon]="'message'"
                            [badgeIcon]="'check'"
                            ></as-badge>
                            <as-badge
                            [badge]="'info'"
                            [icon]="'message'"
                            [badgeIcon]="'information-variant'"
                            ></as-badge>
                            <as-badge
                            [badge]="'warning'"
                            [icon]="'android'"
                            [badgeIcon]="'exclamation'"
                            ></as-badge>
                            <as-badge
                            [badge]="'danger'"
                            [icon]="'bug'"
                            [badgeIcon]="'skull'"
                            ></as-badge>
                            <as-badge
                            [color]="'secondary'"
                            [outline]="true"
                            [badge]="'success'"
                            [icon]="'android'"
                            [badgeIcon]="'check'"
                            [count]="8"
                            ></as-badge>
                         </div>
                     </div>
                </as-card>
        </div>
    </div>
</div>