<as-toolbar 
[shadow]=1 
[customClass]="toolBar.customClass" 
[brand]="toolBar.brand"
[actions]="toolBar.actions" 
[fixed]=toolBar.fixed>∫
    <div class="left-content">
        <as-back-button
        [label]="'Back'"></as-back-button>
    </div>
    <div class="center-content">
        <div class="toolbar__title">{{toolBar?.title}}</div>
    </div>
    <div class="right-content">
        Awiwiwi
    </div>
</as-toolbar>

<div class="parallax-container">
    <as-header
        [title]="header.title"
        [subtitle]="header.subtitle"
        [msg]="header.msg"
        [bg]="header.bg" 
        [parallax]="header.parallax">
    </as-header>
    <as-segment
    [shadow]="1"
    [align]="'center'"
    [customClass]="'segment--primary'"
    [segments]="segments"
    [(selectedTab)]="selectedTab">
    </as-segment>
    <div
        [ngSwitch]="selectedTab?.value"
        class="container-fluid parallax-container"
        fxLayout="row"
        fxFlexAlign="start start"
        fxLayoutWrap>
        <div
            *ngSwitchCase="'buttons'"
            class="box"
            fxFlexAlign="start"
            fxFlex="100"
            fxFlex.gt-md="50">
            <as-card 
                [title]="'Buttons'"
                [shadow]="1">
                 <div class="card__content">
                     <pre>{{selectedTab | json}}</pre>
                 </div>
            </as-card>
        </div>
    </div>
</div>