/*------------------------------------*\
    $Layout
\*------------------------------------*/

@import '../../styles/_variables.scss';
.layout-container, .fab-container {
    position: relative;
}
.card__content {
    button {
        margin: .5rem;
    }
}

.chips, .badges, .loaders{
    display: flex;
    flex-wrap: wrap;
    perspective: 0px;
    .chip, .asbadge {
        margin: 0 1rem 1rem 0;
    }
    .loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 2rem 2rem 0;
        max-height: 83px;
        span {
            margin-top: 1rem;
        }
    }
    .chip--dark {
        background-color: $gray-dark !important;
        color: $gray-lighter;
    }
}
