/*------------------------------------*\
    $Layout
\*------------------------------------*/

@import '../../styles/_variables.scss';

.card__content {
    button {
        margin: .5rem;
    }
}

.chips {
    display: flex;
    flex-wrap: wrap;
    .chip {
        margin: 0 1rem 1rem 0;
    }
    .chip--dark {
        background-color: $gray-dark !important;
        color: $gray-lighter;
    }
}
