/*------------------------------------*\
    $Badge
\*------------------------------------*/

@import '../_variables.scss';
@import '../_mixins.scss';
@import '../_effects.scss';

.asbadge {
   
    /* width: 32px;
    height: 32px;
    cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
        width: $as-badge-icon-width;
        height: $as-badge-icon-height;
        /* height: 32px; */
        font-size: $as-badge-icon-font-size;
        position: relative;
    }
    &__counter {
        border-radius: 50px;
        height: $as-badge-icon-counter-width;
        width: $as-badge-icon-counter-height;
        display: block;
        position: absolute;
        font-size: $as-badge-icon-counter-font-size;
        font-weight: $as-badge-icon-counter-font-weight;
        text-align: center;
    }
}
