<as-toolbar 
[shadow]=1 
[customClass]="'navbar--primary navbar--subheader'" 
[brand]="navBar.brand" 
[fixed]=true>
    <div class="left-content">
        <as-back-button
        [label]="'Back'"></as-back-button>
    </div>
    <div class="center-content">
        <div class="toolbar__title">{{navBar?.title}}</div>
    </div>
    <div class="right-content"></div>
</as-toolbar>
<div
    class="container-fluid wrap has-toolbar"
    fxLayout="row"
    fxFlexAlign="start start"
    fxLayoutWrap>
    <div
        class="box"
        fxFlexAlign="start"
        fxFlex="100"
        fxFlex.gt-sm="50">
            <as-card 
                [title]="'Simple Modals'"
                [shadow]="1">
                 <div class="card__content">
                    <button
                     asButton
                     color="primary"
                     (click)="openModal(smallModal)">
                     Small Modal
                    </button>
                 </div>
            </as-card>
    </div>
</div>
<!--Small Modal-->
<as-modal
[title]="smallModal.title"
[msg]="smallModal.msg"
[open]="smallModal.open"
[size]="smallModal.size"
(onClosed)="smallModal.onClosed($event)"
>