<!-- <div class="navmenu__navlist hidden-sm hidden-md hidden-lg" *ngIf="navlist && collapsable" >
      <div class="navmenu__navitem" *ngFor="let nav of navlist">
        <a routerLink="/{{nav.slugName}}" (click)="_toggleOpened()" routerLinkActive="active" title="{{nav.title}}">{{nav.title}}</a>
      </div>
</div> -->
<div
  [hidden]="!open"
  class="navmenu {{customClass}} shadow-{{shadow}}"
  [ngClass]="{'navmenu--collapsable': collapsable}">
  <div 
  class="navmenu__item"
  *ngFor="let nav of navs">
      <a *ngIf="!nav.link"
      (click)="selectNav(nav)"
      title="{{nav.title}}">{{nav.title}}</a>
      <a 
      href="{{nav.link}}"
      target="_blank"
      *ngIf="nav.link"
      title="{{nav.title}}">{{nav.title}}</a>
  </div>
</div>