<as-toolbar
    [customClass]="'navbar--primary navbar--subheader'" 
  [shadow]=1
  [fixed]=true
>
    <div class="left-content">
        <as-back-button
        [label]="'Back'"></as-back-button>
    </div>
    <div class="center-content">
        <div class="toolbar__title">{{navBar?.title}}</div>
    </div>
    <div class="right-content"></div>
</as-toolbar>
<div class="container-fluid has-toolbar">
    <div class="frow">
        <div class="fcol-xs">
            <div class="box">
             
            </div>
        </div>
    </div>
</div>