// Spacers =================================================================

.spacer {
    &--sm {
        padding: 2rem;
    }
    &--md {
        padding: 4rem;
    }
    &--lg {
        padding: 6rem;
    }
}
