<div 
    class="list-item list-item--avatar {{customClass}} " 
    [ngClass]="{'list-item--line': hasLine}"
    (click)="click()" >
    <div class="list-item__thumb"
        *ngIf="img"
        (mouseover)='hover = true'
        (mouseleave)='hover = false'>
        <div class="list-item__img circle"
        [ngStyle]="{'background-image': 'url(' + img + ')'}"
        *ngIf="!hover && !isChecked && img"></div>
        <div class="checkbox" *ngIf="hover || isChecked">
            <label>
                <input type="checkbox" [checked]="isChecked" (click)="select()">
            </label>
        </div>
    </div>
    <div class="list-item__content">
       <h5 
       class="list-item__title"
       *ngIf="title">{{title}}</h5>
       <span 
       class="list-item__subtitle"
       *ngIf="subtitle">{{subtitle}}</span>
    </div>
    <div class="list-item__side">
        <span class="list-item__least" 
        *ngIf="least">{{least}}</span>
        <div class="list-item__actions" *ngIf="actions">
            <button
            *ngFor="let action of actions" 
            asIconButton
            class="card__action"
            [prefix]="action.prefix"
            [icon]="action.active ? action.iconActive : action.icon"
            [color]="action.color"
            [outline]="action.outline"
            [rounded]="action.rounded"
            [size]="action.size"
            [ngClass]="action?.customClass"
            [disabled]="action.disabled" 
            (click)="actionCallback(action)">
                {{action.label}}
            </button>
        </div>
    </div>
</div>