<div class="card card--{{customClass}} shadow-{{shadow}}" >
    <div class="card__header" *ngIf="title">

        <div class="card__options card__options--left" *ngIf="optionsLeft?.length > 0">
            <div class="card__option" *ngFor="let option of optionsLeft">
                <button class="btn btn-link" (click)="option.callback()">
                    <i class="mdi mdi-{{option.icon}}"></i>
                </button>
            </div>
        </div>
        <h4 class="card__title">{{title}}</h4>
        <div class="card__options card__options--right" *ngIf="optionsRight?.length > 0">
            <div class="card__option" [hidden]="option.dropdown !== undefined" *ngFor="let option of optionsRight"
            >
                <button class="btn btn-link" (click)="option.callback()">
                    <i class="mdi mdi-{{option.icon}}"></i>
                </button>
            </div>
            <div class="card__option" [hidden]="option.dropdown === undefined" dropdown *ngFor="let option of optionsRight">
                <button dropdownToggle class="btn btn-link dropdown-toggle">
                    <i class="mdi mdi-{{option.icon}}"></i>
                </button>
                <ul *dropdownMenu class="dropdown-menu" [hidden]="option.dropdown !== undefined" role="menu">
                    <li *ngFor="let choice of option.dropdown">
                        <a class="dropdown-item" (click)="choice.callback()"><i class="mdi mdi-{{choice.icon}}"></i>{{choice.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="card__options card__options--right" dropdown *ngIf="optionsRight?.dropdown?.length > 0">
            <button dropdownToggle type="button" class="btn btn-link dropdown-toggle">
                <i class="mdi mdi-{{options?.icon}}"></i>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let choice of options">
                    <a class="dropdown-item" (click)="choice.callback()"><i class="mdi mdi-{{choice.icon}}"></i>{{choice.label}}</a>
                </li>
            </ul>
        </div> -->

    </div>
    <div class="card__body">
        <h6 class="card__subtitle" *ngIf="subtitle">{{subtitle}}</h6>
        <div #cardContent>
            <ng-content selector=".card__content" ></ng-content>
        </div>
        <p class="card__msg" *ngIf="cardContent.children.length == 0">
            {{msg}}
        </p>
        
    </div>
    <div class="card__footer" [hidden]="actions?.length === 0">
        <div class="card__actions">
            <button class="btn btn-link card__action"  *ngFor="let action of actions" [disabled]="action.disabled" (click)="action.callback()">
                {{action.label}}
            </button>
        </div>
    </div>
</div>