<as-toolbar 
[shadow]=1 
[customClass]="toolBar.customClass" 
[brand]="toolBar.brand" 
[fixed]=toolBar.fixed>
    <div class="left-content">
        <as-back-button
        [label]="'Back'"></as-back-button>
    </div>
    <div class="center-content">
        <div class="toolbar__title">{{toolBar?.title}}</div>
    </div>
    <div class="right-content"></div>
</as-toolbar>
<div
    class="container-fluid wrap"
    [ngClass]="{'has-toolbar': toolBar.fixed}"
    fxLayout="row"
    fxFlexAlign="start start"
    fxLayoutWrap>
        <div
            class="box"
            fxFlexAlign="start"
            fxFlex="100"
            fxFlex.gt-sm="50">
                <as-card 
                    [title]="'Default Media Uploader'"
                    [shadow]="1">
                     <div class="card__content">
                            <media-uploader
                            [multiple]="true"
                            [(uploader)]="mediaUploader"></media-uploader>
                            <pre>{{mediaUploader?.queue[0] | circularJson}}</pre>
                     </div>
                </as-card>
                <div class="spacer spacer--sm">    
                </div>
                <as-card 
                [title]="'Media Queue'"
                [optionsRight]="queueCard.optionsRight"
                [shadow]="1">
                 <div class="card__content">
                    <as-list-item-fileqeue
                        *ngFor="let item of mediaUploader?.queue"
                        [data]="item"
                        [hasLine]="true"
                        [actions]="getActions(item)">
                    </as-list-item-fileqeue>
                 </div>
            </as-card>
        </div>
        <div
        class="box"
        fxFlexAlign="start"
        fxFlex="100"
        fxFlex.gt-sm="50">
            <as-card 
                [title]="'Configured File Uploader'"
                [shadow]="1">
                 <div class="card__content">
                        <media-uploader
                        [multiple]="true"
                        [(uploader)]="fileUploader"></media-uploader>
                        <pre>{{fileUploader?.queue[0] | circularJson}}</pre>
                 </div>
            </as-card>
            <div class="spacer spacer--sm">    
            </div>
            <as-card 
            [title]="'File Queue'"
            [optionsRight]="queueCard.optionsRight"
            [shadow]="1">
             <div class="card__content">
                <as-list-item-fileqeue
                    *ngFor="let item of fileUploader?.queue"
                    [data]="item"
                    [hasLine]="true"
                    [actions]="getActions(item)">
                </as-list-item-fileqeue>
             </div>
        </as-card>
    </div>
</div>